@keyframes example {
  from {
    background-color: rgb(90, 106, 223);
  }
  to {
    background-color: white;
  }
}

.table {
  margin: auto;
  margin-top: 50px;
  width: 700px;
  transition: 0.5s;
}

.header {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 300px 200px;
  gap: 60px;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
}

.rowWrapper {
  transition: 1s;
  animation-name: example;
  animation-duration: 5s;
}
